.reset-btn {
  background: none;
  text-decoration: none;
  color: white;
  box-shadow: 0px 0px 0px 2px white;
  border-radius: 3px;
  padding: 5px 2em;
  transition: 0.5s;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-top: 15px;
}
.reset-btn:hover {
  background: white;
  color: dimgray;
  transition: 0.5s;
}
