*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: #fff;
}
.navbar input[type="checkbox"],
.navbar .hamburger-lines {
  display: none;
}
.containerr {
  width: 90%;
  margin: auto;
}
.navbar {
  position: relative;
  width: 100%;
  background-color: #2b2c37;
  z-index: 1;
  top: 0;
}
.navbar-container {
  display: flex;
  justify-content: space-between;
  height: 64px;
  align-items: center;
}
.menu-items {
  order: 3;
  display: flex;
  align-items: center;
}
.logo {
  order: 1;
  cursor: pointer;
  width: 150px;
  height: 30px;
}
.board-name {
  order: 2;
  margin-left: -10%;
  text-transform: capitalize;
}
.navbar a {
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease-in-out;
  text-transform: uppercase;
}
.menu-items li {
  position: relative;
  list-style: none;
  margin-left: 2.5rem;
  font-size: 1rem;
  font-weight: 400;
  cursor: pointer;
  text-align: center;
}
.menu-items li::before {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #444;
  transition: width 0.3s ease-in-out;
}
.menu-items li:hover a::before {
  width: 100%;
}
.dropdown-content {
  position: absolute;
  background-color: #20212c;
  min-width: 160px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 20;
  position: absolute;
  top: 65px;
  right: 0px;
}
.dropdown-content span {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-transform: capitalize;
}
.dropdown-content span:hover {
  background-color: #555;
}
.add-task-btn {
  width: fit-content;
  padding: 15px 25px;
  background-color: #635fc7;
  font-size: 15px;
  border-radius: 50px;
  border: none;
  cursor: pointer;
}
.add-task-btn:hover {
  background-color: #908ded;
}
.edit-board {
  color: #828fa3;
  cursor: pointer;
}
.delete-board {
  color: #ea5555;
  cursor: pointer;
}
.mobile-logo-header {
  display: none;
}
.add-task-mobile {
  display: none;
}
@media (max-width: 767px) {
  .menu-items li {
    margin-left: 1rem;
  }
  .logo {
    display: none;
  }
  .mobile-logo-header {
    display: flex;
  }
  .add-task-btn {
    display: none;
  }
  .add-task-mobile {
    display: block;
    background-color: #635fc7;
    width: 60px;
    border: none;
    border-radius: 50px;
    font-size: 30px;
  }
  .board-name-container {
    display: flex;
    align-items: center;
    margin-left: 1rem;
  }
  .board-name {
    display: none;
  }
  .board-name-mobile {
    font-size: 16px;
    text-transform: capitalize;
  }
}
