.sidebar {
  background-color: #2b2c37;
  width: 100%;
  height: 90vh;
  margin-top: 64px;
  padding: 20px;
}
.side {
  width: 30%;
}
.all-boards {
  color: #828fa3;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 12px;
}
.new-board-btn {
  cursor: pointer;
  color: #635fc7;
  display: flex;
  align-items: center;
}
.new-board-btn h4 {
  color: #635fc7;
  text-transform: capitalize;
}
.boardicon {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}
@media (max-width: 767px) {
  .sidebar {
    width: 80%;
    position: absolute;
    height: 200px;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 13;
  }
  .overlay {
    position: fixed;
    top: 64px;
    left: 0;
    width: 100%;
    height: 90%;
    z-index: -1;
    background: rgba(0, 0, 0, 0.5);
  }
  .side.novisible {
    display: none;
  }
}
@media (max-width: 500px) {
  .sidebar {
    width: 90%;
    top: 120px;
  }
}
