.sidebar {
  background-color: #2b2c37;
  width: 100%;
  padding: 20px;
}
.side {
  width: 30%;
  background-color: #2b2c37;
  min-height: 92vh;
}
.new-board-btn {
  cursor: pointer;
  color: #635fc7;
  display: flex;
  align-items: center;
  padding: 15px 0;
}
.new-board-btn:hover {
  background-color: white;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  margin-left: -20px;
  padding-left: 20px;
}
.new-board-btn h4 {
  color: #635fc7;
  text-transform: capitalize;
}
.boardicon {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}
.overlay {
  display: none;
}
@media only screen and (max-width: 1024px) and (min-height: 800px) {
  .side {
    height: 95vh;
  }
}
@media (max-width: 767px) {
  .side {
    width: 100%;
    height: 95vh;
    position: fixed;
    top: 0%;
    background: none;
    overflow-y: scroll;
  }
  .sidebar {
    width: 80%;
    position: relative;
    top: 10%;
    margin: 0 auto;
    overflow-y: scroll;
    z-index: 555;
    min-height: 20%;
    max-height: 90%;
  }
  .over {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 6;
  }
  .side.novisible {
    display: none;
  }
}
@media (max-width: 500px) {
  .sidebar {
    width: 90%;
    top: 65px;
  }
}
