.taskbody {
  background-color: #20212c;
  width: 70%;
  /* margin-top: 64px; */
  display: grid;
  grid-template-columns: 32% 32% 32%;
  min-height: 93vh;
  padding: 0;
}
.column-header {
  color: #828fa3;
  text-transform: capitalize;
  font-size: 12px;
  letter-spacing: 5px;
  padding: 10px;
}

@media only screen and (max-width: 1024px) and (min-height: 800px) {
  .taskbody {
    height: 95vh;
  }
}
@media (max-width: 767px) {
  .taskbody {
    width: 100%;
    min-height: 95vh;
  }
}
