.taskbody {
  background-color: #20212c;
  width: 70%;
  display: grid;
  grid-template-columns: 32% 32% 32%;
  min-height: 93vh;
  padding: 0;
}
.column-header {
  color: #828fa3;
  text-transform: capitalize;
  font-size: 12px;
  letter-spacing: 5px;
  padding: 10px;
  cursor: pointer;
}
.column-header:hover {
  color: #635fc7;
}
.mobile-taskbody {
  display: none;
}
.activee h6 {
  color: #635fc7;
}

@media only screen and (max-width: 1024px) and (min-height: 800px) {
  .taskbody {
    min-height: 95vh;
  }
}
@media (max-width: 767px) {
  .taskbody {
    display: none;
  }
  .mobile-taskbody {
    display: block;
    height: 100vh;
  }
  .mobilecolumns {
    display: flex;
    justify-content: space-between;
    height: fit-content;
    background-color: #20212c;
  }
  .mobiletasks {
    background-color: #20212c;
    height: 90%;
    overflow-y: auto;
    padding: 10px 0 20px 0;
  }
  .activee h6 {
    color: #635fc7;
  }
}
