.taskbody {
  background-color: #20212c;
  width: 71%;
  /* margin-top: 64px; */
  display: flex;
  justify-content: space-between;
  padding: 20px 50px;
  height: 90vh;
}
.column-header {
  color: #828fa3;
  text-transform: capitalize;
  font-size: 12px;
  letter-spacing: 5px;
}
@media only screen and (max-width: 1024px) and (min-height: 800px) {
  .taskbody {
    height: 95vh;
  }
}
@media (max-width: 767px) {
  .taskbody {
    width: 100%;
    min-height: 95vh;
  }
}
